<!DOCTYPE html>
<html>

<head>
    <title>/{{section_name}}/</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'threads/style/index2.css' %}" />
</head>

<body>
    <a href="{% url 'threads:main' %}">На главную</a>
    <h1>{{ section_name }}</h1> {% for thread in threads %}
    <div class="thread">
        <div class="oppost-wrapper">
            <h3> <p><header>
        <b>#{{thread.id_threads_messages}} {{thread.pub_date}}</b>
        <a href="{% url 'threads:thread_url' section_name thread.id_threads_messages%}">{{ thread.title }}</a>
        </header></p></h3> {% if thread.image_name != 'False' %}
            <a href="{% static thread.image_name %}" target="_blank" onclick="{% static thread.image_name %}">
            <img src="{% static thread.image_name %}" width="200">
            </a> {% endif %} {% if thread.video_name != 'False' %}
            <video loop controls width="400">
                <source src="{% static thread.video_name %}">
            </video>
            {% endif %}
            <p>
                <blockquote>
                    {{ thread.text }}
                </blockquote>
            </p>
        </div>
        {% for message in thread.get_last_messages %}
        <div class="post-wrapper">
            <div class="post reply ">
                <b>#{{message.id_threads_messages}} {{message.pub_date}} </b>
                <p>
                    {% if message.image_name != 'False' %}
                    <p>
                        <a href="{% static message.image_name %}" target="_blank" onclick="{% static message.image_name %}">
                        <img src="{% static message.image_name %}" width="100">
                        </a>
                    </p>
                    {% endif %} {% if message.video_name != 'False' %}
                    <p>
                        <video loop controls width="200">
                            <source src="{% static message.video_name %}">
                        </video>
                    </p>
                    {% endif %}
                    <blockquote class="post-message">{{ message.text }}</blockquote>
                    <hr>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr> {% endfor %}
    <form action="{% url 'threads:section_url' section_name %}" method="post" enctype="multipart/form-data">
        {% csrf_token %} {{form}}
        <input type="submit" value="Создать тред" />
    </form>
</body>

</html>